doctype
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Template
    meta(name='description',content='')
    meta(name='author',content='Abhijeet Deb')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet',href='css/styles.css')
    //if lt IE 9 <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    
  body
  
    .container
      ul
        li
          img(src="", alt="img1", style="background: red")
        li
          img(src="", alt="img3", style="background: green")
        li
          img(src="", alt="img3", style="background: blue")
        li
          img(src="", alt="img4", style="background: yellow")
    .buttons
      span.prev(data-dir='prev') PREV
      span.next(data-dir='next') NEXT
  
    script(src='js/min/jquery.min.js')
    script(src='js/min/scripts.min.js')