doctype
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Abhijeet Deb
    meta(name='description',content='Abhijeet Deb')
    meta(name='author',content='Abhijeet Deb')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet',href='css/styles.css')
    //if lt IE 9 <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    
  body#container
  
    .wrap

      header
        .title
          h1(title="Abhijeet Deb")
            div Abhijeet Deb

      nav.menu
        .link(data-link="aboutMe") About Me
        .link(data-link="portfolio") My Portfolio
        .link(data-link="skills") My Skills
        .link(data-link="contactMe") Contact Me

      aside.fun
        p.thought 
          script(src='http://www.brainyquote.com/link/quotefu.js')
        p.info-block This website was created using JADE and SASS, and not using traditional HTML and CSS. Also, I used FLEXBOX for structure. I also made use of some CSS techniques, jQuery and PHP to make everything work together. As Jesse Pinkman would have said, 'Technology, yo!'
        span.tod Quote of the day 
          span.i i
        span.how How this site was made 
          span.x X


      section#aboutMe
        h2 About me
        .container
          p I guess you have figured out that I like comics. We will come back to that in a bit.
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


      section#portfolio
        h2 Portfolio
        .prev.link
          span Prev
        .works
          .wrapper          
            .work
              img(src="images/works/glc.jpg", alt="")
              span.project Global Luxury Culture
            .work
              img(src="images/works/beams.jpg", alt="")
              span.project Beams Hospitals
            .work
              img(src="images/works/beams.jpg", alt="")
              span.project SK Techconnect
        .next.link
          span Next


      section#skills
        h2 Skills
        //- create overlay
        mixin overlay
          .overlay
            - for (var val=1; val <= 10; val ++)
              .val(data-skill-level=val)=val
        //- the skill list
        .skill-bg
          +overlay
          .skill(data-skill='9') HTML5
        .skill-bg
          +overlay
          .skill(data-skill='9') CSS3
        .skill-bg
          +overlay
          .skill(data-skill='8') jQuery
        .skill-bg
          +overlay
          .skill(data-skill='8') Jade
        .skill-bg
          +overlay
          .skill(data-skill='8') SASS/SCSS
        .skill-bg
          +overlay
          .skill(data-skill='7') PHP
        .skill-bg
          +overlay
          .skill(data-skill='7') Photoshop
        .skill-bg
          +overlay
          .skill(data-skill='8') WordPress
        .skill-bg
          +overlay
          .skill(data-skill='9') Talking


      section#contactMe
        h2 Contact Me
        a.link.social.facebook(href="http://fb.me/abhijeetdeb", target="_blank") Facebook
        a.link.social.linkedin(href="http://linkedin.com/in/abhijeetdeb", target="_blank") Linkedin
        a.link.social.twitter(href="http://twitter.com/abhijeetdeb", target="_blank") Twitter

      footer
        a(href="#") inspired by comics . designed by me
          
    script(src='js/min/jquery.min.js')
    script(src='js/min/nicescroll.min.js')
    script(src='js/min/scripts.min.js')
  
  