@import url(http://fonts.googleapis.com/css?family=Bangers)
@import url(http://fonts.googleapis.com/css?family=Fredoka+One)
@import url(http://fonts.googleapis.com/css?family=Comfortaa)

*
  margin: 0
  padding: 0

html  
  cursor: url(../images/cursor.png), auto

h1, h2, h3
  font-family: 'Bangers', serif
  span:hover
    cursor: url(../images/circle.png), auto

body
  font-family: 'Comfortaa','Fredoka One', sans-serif
  //user-select: none
  p
    margin: 0 0 0.75em 0

#container
  background-image: url(../images/bg-top.png), url(../images/bg-bottom.png), linear-gradient(to bottom, #6b0000 0%, #111111 25%, #111111 50%, #6b0000 100%)
  background-size: 150%
  background-position: center top, center bottom
  background-repeat: no-repeat

.wrap
  width: 1020px
  margin: auto

header
  h1
    font-size: 6em
    color: #f39c12
    padding-top: 0.75em
    text-shadow: 5px 5px 3px #111
    text-align: center
  
section h2
  color: #d35400
  font-size: 3em
  text-align: center
  text-shadow: 3px 3px 3px #111
  margin: 1.5em auto 0.5em
  width: 100%
  &:before
    content: '- '
  &:after
    content: ' -'

nav.menu
  display: flex
  justify-content: center
  margin-top: 1.5em
  margin-bottom: 3em
  div
    display: inline-block
    background: #fff
    margin: 0 10px
    padding: 10px 16px
    box-shadow: 3px 3px 0px 1px #e67e22
    cursor: pointer
    &:hover
      box-shadow: 3px 3px 0px 1px #d35400
      //cursor: url(../images/h.png), auto
    
aside.fun
  background: #9b59b6
  color: #fff
  padding: 30px 20px 16px
  margin-top: 3.5em
  margin-bottom: 3em
  position: relative
  line-height: 1.5em
  p.info-block
    display: none
  
  span.tod, span.how
    background: #e74c3c
    color: #fff
    padding: 10px 10px
    line-height: 1em
    position: absolute
    top: -16px
    right: -8px
    font-size: 16px
    cursor: pointer
    span.i
      background: #fff
      border-radius: 50%
      padding: 0 10px
      color: #555
  span.how
    display: none
    background: #fff
    color: #555
    span.x
      background: #e74c3c
      border-radius: 50%
      padding: 2px 6px
      color: #fff
      font-size: 14px
    
#aboutMe
  .container    
    background: #fff
    padding: 12px 20px
    margin-bottom: 1.5em
    position: relative
    line-height: 1.5em
    transition: 0.2s ease all
    box-shadow: 8px 8px 0px #2c3e50
  
#portfolio
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  div
    display: block
    height: 250px
    width: 32%
    margin-bottom: 1.5em
    position: relative
    background: #eee

#skills
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  margin-bottom: 1.5em
  .skill-bg
    width: 32%
    margin-bottom: 1.5em
    box-shadow: -4px 4px 0 0 #2c3e50
    position: relative
    overflow: hidden
    .overlay
      display: flex
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      .val
        flex: 1
        display: flex
        text-align: center
        justify-content: center
        flex-direction: column
        z-index: 49
        background: #bdc3c7
        color: #aaa
        border-right: 1px solid #555
        user-select: none
    .skill
      position: relative
      padding: 10px
      width: 10%
      color: #fff
      opacity: 1
      z-index: 99
      box-sizing: border-box
      transition: 2s ease all
    
#contactMe
  margin-top: 0.5em
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  .social
    background: #fff
    padding: 1em 0.5em
    width: 30%
    text-align: center
  form
    font-size: 1.2em
    font-family: 'Comfortaa', sans-serif
    display: flex
    display: none
    .col
      flex: 1
    label
      z-index: 99
      position: relative
      padding: 0 20px    
    label.message
      padding: 0 10px    
    .input-bg      
      display: block
      width: 75%
      padding: 10px 25px
      margin: 0.2em 0 1.15em 0
      background: #fff
      transform: skewX(-30deg)
      box-shadow: -8px -24px 0px 8px #f1c40f
      transition: .2s ease all    
    input
      border: none
      transform: skewX(30deg)
      outline: none
      width: 100%
      font-family: 'Comfortaa', sans-serif
      font-size: 16px
    .textarea-bg      
      display: block
      padding: 10px
      margin: 0.15em 0 2em 0
      background: #fff
      box-shadow: -8px -24px 0px 8px #f1c40f
      transition: .2s ease all
    textarea
      border: none
      outline: none
      height: 112px
      width: 100%
      font-family: 'Comfortaa', sans-serif
    input.submit
      transform: skewX(0deg)
      background: #e67e22
      color: #ecf0f1
      text-shadow: 1px 1px 1px #111
      padding: 16px 0
      font-size: 20px
      box-shadow: -16px -16px 0px 0px #f1c40f
      &:hover
        background: #d35400
      
footer
  padding: 3em 0 1.5em
  text-align: center
  a
    color: #999
    text-align: center
    text-decoration: none
