@import url(http://fonts.googleapis.com/css?family=Bangers);
@import url(http://fonts.googleapis.com/css?family=Fredoka+One);
@import url(http://fonts.googleapis.com/css?family=Comfortaa);
* {
  margin: 0;
  padding: 0;
}

html {
  cursor: url(../images/cursor.png), auto;
}

h1, h2 {
  font-family: "Bangers", serif;
}

body {
  font-family: "Comfortaa", "Fredoka One", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body ::-moz-selection {
  background: #6b0000;
  color: #f39c12;
}
body ::selection {
  background: #6b0000;
  color: #f39c12;
}
body p {
  margin: 0 0 0.75em 0;
}

#container {
  background-image: url(../images/bg-top.png), url(../images/bg-bottom.png), -webkit-gradient(linear, left top, left bottom, from(#6b0000), color-stop(25%, #111111), color-stop(50%, #111111), color-stop(75%, #6b0000));
  background-image: url(../images/bg-top.png), url(../images/bg-bottom.png), -webkit-linear-gradient(top, #6b0000 0%, #111111 25%, #111111 50%, #6b0000 75%);
  background-image: url(../images/bg-top.png), url(../images/bg-bottom.png), linear-gradient(to bottom, #6b0000 0%, #111111 25%, #111111 50%, #6b0000 75%);
  -webkit-background-size: 150%;
  background-size: 150%;
  background-position: center top, center bottom;
  background-repeat: no-repeat;
  position: relative;
  display: none;
}

#cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 999;
  display: none;
}

.wrap {
  width: 75%;
  margin: auto;
}

header div {
  font-size: 2.5em;
  padding-top: 0.5em;
  text-align: center;
  position: relative;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  font-family: "Bangers", serif;
}
header div h1 {
  font-size: 1em;
  color: #f39c12;
  background: url(../images/bg-bottom.png) center/contain, -webkit-gradient(linear, left top, left bottom, from(#f39c12), to(#d35400));
  background: url(../images/bg-bottom.png) center/contain, -webkit-linear-gradient(top, #f39c12, #d35400);
  background: url(../images/bg-bottom.png) center/contain, linear-gradient(to bottom, #f39c12, #d35400);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  width: 100%;
}
header div:after {
  text-shadow: 4px 4px 0px #111111;
  content: attr(title);
}

section {
  margin: 3em auto 1.5em;
}
section h2 {
  color: #d35400;
  font-size: 3em;
  text-align: center;
  text-shadow: 1px 1px 1px white, 4px 4px 0 #111111;
  margin: 0.5em auto;
  width: 100%;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
section h2:before {
  content: "- ";
}
section h2:after {
  content: " -";
}

nav.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 1.5em;
  margin-bottom: 3em;
}
nav.menu div {
  display: inline-block;
  background: white;
  margin: 0 10px;
  padding: 10px 16px;
  -webkit-box-shadow: 4px 4px 0px #e67e22;
  box-shadow: 4px 4px 0px #e67e22;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
nav.menu div:hover {
  -webkit-box-shadow: 4px 4px 0px #d35400;
  box-shadow: 4px 4px 0px #d35400;
}
nav.menu .active {
  margin: 1px 9px -1px 11px;
  -webkit-box-shadow: 3px 3px 0px #d35400 !important;
  box-shadow: 3px 3px 0px #d35400 !important;
}

aside.fun {
  background: #9b59b6;
  color: white;
  padding: 30px 20px 16px;
  margin-top: 3.5em;
  margin-bottom: 3em;
  position: relative;
  line-height: 1.5em;
  -webkit-box-shadow: 4px 4px 0 white;
  box-shadow: 4px 4px 0 white;
  border-right: 2px solid #7c4791;
  border-bottom: 2px solid #7c4791;
}
aside.fun p.info-block {
  display: none;
}
aside.fun b, aside.fun br {
  display: none;
}
aside.fun .thought span {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  cursor: url(../images/text-cursor.png), auto;
}
aside.fun .thought .quoteAuthor {
  color: #4d2c5b;
  padding-left: 0.5em;
}
aside.fun span.tod, aside.fun span.how {
  background: #e74c3c;
  color: white;
  padding: 10px 10px;
  line-height: 1em;
  position: absolute;
  top: -16px;
  right: -16px;
  font-size: 16px;
  border-bottom: 2px solid #2c3e50;
}
aside.fun span.tod:after, aside.fun span.how:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  bottom: -18px;
  border-top: 16px solid #2c3e50;
  border-right: 14px solid transparent;
}
aside.fun span.tod span.i, aside.fun span.how span.i {
  background: white;
  border-radius: 50%;
  padding: 0 10px;
  color: #555555;
  cursor: pointer;
}
aside.fun span.how {
  display: none;
  background: white;
  color: #555555;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
aside.fun span.how span.x {
  background: #e74c3c;
  border-radius: 50%;
  padding: 2px 6px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

#aboutMe .container {
  background: white url("../images/web.svg");
  padding: 12px 20px;
  line-height: 1.5em;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
  -webkit-box-shadow: 4px 4px 0px #2c3e50;
  box-shadow: 4px 4px 0px #2c3e50;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

#portfolio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
#portfolio div {
  display: block;
  height: 220px;
  background: #eeeeee;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#portfolio .prev, #portfolio .next {
  word-wrap: break-word;
  width: 0.5em;
  padding: 0 0.75em;
  text-transform: uppercase;
  font-family: "Bangers", serif;
  font-size: 1.5em;
  line-height: 1.25em;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #f39c12;
  background: #f39c12 url(../images/bg-bottom.png) center/cover;
  background: url(../images/bg-bottom.png) center/cover, -webkit-gradient(linear, left top, left bottom, from(#e67e22), to(#d35400));
  background: url(../images/bg-bottom.png) center/cover, -webkit-linear-gradient(top, #e67e22, #d35400);
  background: url(../images/bg-bottom.png) center/cover, linear-gradient(to bottom, #e67e22, #d35400);
  color: #dddddd;
  border-right: 2px solid #a84300;
  border-bottom: 2px solid #a84300;
  text-shadow: 1px 1px 1px #111111;
  -webkit-box-shadow: 4px 4px 0px #dddddd;
  box-shadow: 4px 4px 0px #dddddd;
  cursor: pointer;
}
#portfolio .prev:hover, #portfolio .next:hover {
  color: white;
  -webkit-box-shadow: 4px 4px 0px white;
  box-shadow: 4px 4px 0px white;
}
#portfolio .active {
  margin: 1px -1px -1px 1px;
  -webkit-box-shadow: 3px 3px 0px #dddddd !important;
  box-shadow: 3px 3px 0px #dddddd !important;
}
#portfolio .works {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 0 1em;
  -webkit-box-shadow: 4px 4px 0px #e67e22;
  box-shadow: 4px 4px 0px #e67e22;
  border-right: 2px solid #6b0000;
  border-bottom: 2px solid #6b0000;
  overflow: hidden;
}
#portfolio .works:hover {
  -webkit-box-shadow: 4px 4px 0px #d35400;
  box-shadow: 4px 4px 0px #d35400;
}
#portfolio .works .work {
  position: relative;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  overflow: hidden;
}
#portfolio .works .work:hover img {
  -webkit-filter: grayscale(100%);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
#portfolio .works .work img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  z-index: 0;
  opacity: 0.5;
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
}
#portfolio .works .work .project {
  position: relative;
  z-index: 1;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  background: rgba(107, 0, 0, 0.75);
  color: white;
  text-shadow: 1px 1px 1px #555555;
  font-size: 1.5em;
  padding: 0.5em 1em;
  border-right: 1px solid rgba(255, 255, 255, 0.75);
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 3px 3px 0px rgba(44, 62, 80, 0.75);
  box-shadow: 3px 3px 0px rgba(44, 62, 80, 0.75);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
#portfolio .works .work .category {
  position: absolute;
  font-size: 0.5em;
  top: -24px;
  right: -12px;
  background: rgba(243, 156, 18, 0.8);
  padding: 4px 12px;
  text-shadow: none;
  color: white;
  border-bottom: 2px solid #d35400;
}
#portfolio .works .work .category:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  bottom: -14px;
  border-top: 12px solid #d35400;
  border-right: 11px solid transparent;
}

#skills {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
#skills .skill-bg {
  width: 32%;
  margin-bottom: 1.5em;
  -webkit-box-shadow: 4px 4px 0px #2c3e50;
  box-shadow: 4px 4px 0px #2c3e50;
  position: relative;
  overflow: hidden;
}
#skills .skill-bg .overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#skills .skill-bg .overlay .val {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 49;
  background: #bdc3c7;
  color: #aaaaaa;
  border-right: 1px solid #555555;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#skills .skill-bg .skill {
  position: relative;
  padding: 12px;
  width: 10%;
  color: white;
  opacity: 1;
  z-index: 99;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 2s ease all;
  transition: 2s ease all;
}

#contactMe {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
#contactMe .social {
  padding: 1em 0.5em;
  width: 30%;
  color: #dddddd;
  text-align: center;
  -webkit-box-shadow: 4px 4px 0px #bdc3c7;
  box-shadow: 4px 4px 0px #bdc3c7;
  border-right: 3px solid;
  border-bottom: 3px solid;
  text-decoration: none;
  cursor: pointer;
}
#contactMe .social:hover {
  color: white;
}
#contactMe .facebook {
  background: #3b5998;
  border-color: #2f4779;
}
#contactMe .facebook:hover {
  background: #2f4779;
  border-color: #23355b;
  -webkit-box-shadow: 4px 4px 0px #dddddd;
  box-shadow: 4px 4px 0px #dddddd;
}
#contactMe .linkedin {
  background: #4875b4;
  border-color: #395d90;
}
#contactMe .linkedin:hover {
  background: #395d90;
  border-color: #2b466c;
  -webkit-box-shadow: 4px 4px 0px #dddddd;
  box-shadow: 4px 4px 0px #dddddd;
}
#contactMe .twitter {
  background: #2492b7;
  border-color: #1c7492;
}
#contactMe .twitter:hover {
  background: #1c7492;
  border-color: #15576d;
  -webkit-box-shadow: 4px 4px 0px #dddddd;
  box-shadow: 4px 4px 0px #dddddd;
}
#contactMe .active {
  margin: 1px -1px -1px 1px;
  -webkit-box-shadow: 3px 3px 0px #dddddd !important;
  box-shadow: 3px 3px 0px #dddddd !important;
}

footer {
  padding: 3em 0 1.5em;
  text-align: center;
}
footer .link {
  display: inline-block;
  color: #cccccc;
  text-align: center;
  text-shadow: 1px 1px 0 #111111;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
  cursor: pointer;
}
footer .link:hover {
  color: white;
}
footer img {
  height: 2em;
  -webkit-transform: translateY(12px);
  -ms-transform: translateY(12px);
  transform: translateY(12px);
}

.toTop {
  position: fixed;
  bottom: 16px;
  right: 24px;
  display: none;
}
.toTop img {
  cursor: pointer;
}
