// variables    
$desktop: 1024px
$tablet: 800px


// fonts
@import url(http://fonts.googleapis.com/css?family=Bangers)
@import url(http://fonts.googleapis.com/css?family=Fredoka+One)
@import url(http://fonts.googleapis.com/css?family=Comfortaa)

*
  margin: 0
  padding: 0

html  
  cursor: url(../images/cursor.png), auto

h1, h2
  font-family: 'Bangers', serif

body
  font-family: 'Comfortaa','Fredoka One', sans-serif
  user-select: none
  ::selection
    background: #6b0000
    color: #f39c12
  p
    margin: 0 0 0.75em 0

#cover
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 999
  opacity: 1
  transition: 1.5s ease all
  display: flex
  .loading-wrap
    background: linear-gradient(to bottom, #6b0000, #111111)
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    .loading
      transition: 0.5s ease all
      opacity: 1
      p
        color: #fff
        margin: 8px 0
        font-size: 24px
        text-align: center
    .loading.blinkOff
      opacity: 0

#container
  background-image: url(../images/bg-top.png), url(../images/bg-bottom.png),linear-gradient(to bottom, #6b0000 0%, #111111 5%, #111111 15%, #6b0000 50%)
  background-size: 400%
  background-position: center top, center bottom
  background-repeat: no-repeat
  position: relative
  display: none

.wrap
  width: 75%
  margin: auto

header
  h1
    padding-top: 0.75em
    text-align: center
    position: relative
    user-select: text
    font-size: 3.5em
    span
      display: inherit
      color: #f39c12
      background: url(../images/bg-bottom.png) center /contain, linear-gradient(to bottom, #f39c12, #d35400)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
      position: absolute
      width: 100%
    &:after
      text-shadow: 4px 4px 0px #111
      content: attr(title)
      color: transparent
  
section
  margin: 1em auto 1.5em
  h2
    color: #d35400
    font-size: 2.5em
    text-align: center
    text-shadow: 1px 1px 1px #fff, 4px 4px 0 #111
    margin: 0.5em auto
    width: 100%
    user-select: text
    &:before
      content: '- '
    &:after
      content: ' -'
    

nav.menu
  display: flex
  justify-content: center
  margin-top: 1.5em
  margin-bottom: 3em
  flex-wrap: wrap
  div
    display: inline-block
    background: #fff
    margin: 0 10px 16px
    padding: 8px
    box-shadow: 4px 4px 0px #e67e22
    user-select: none
    cursor: pointer
    width: 25%
    flex-grow: 1
    text-align: center
    &:hover
      box-shadow: 4px 4px 0px #d35400
      //cursor: url(../images/h.png), auto
  .active
    margin: 1px 9px 15px 11px 
    box-shadow: 3px 3px 0px #d35400 !important
    
aside.fun
  background: #9b59b6
  color: #fff
  padding: 30px 20px 20px
  margin-top: 3.5em
  margin-bottom: 3em
  position: relative
  line-height: 1.5em
  box-shadow: 4px 4px 0 #fff
  border-right: 2px solid #7c4791
  border-bottom: 2px solid #7c4791
  .info-block
    display: none
    user-select: text
    cursor: url(../images/text-cursor.png), auto
    a
      color: #fff
      text-decoration: none
      padding-bottom: 1px
      border-bottom: 1px dotted #fff
      &:hover
        color: #6b0000
        color: #f39c12
        border-bottom: 1px dotted #6b0000
        border-bottom: 1px dotted #f39c12
  b, br
    display: none
  
  .thought
    span
      user-select: text
      cursor: url(../images/text-cursor.png), auto
    .quoteAuthor
      color: #4d2c5b
      padding-left: 0.5em
  
  span.tod, span.how
    background: #e74c3c
    color: #fff
    padding: 10px 10px
    line-height: 1em
    position: absolute
    top: -20px
    right: -16px
    font-size: 16px
    border-bottom: 2px solid #2c3e50
    &:after
      content: ''
      width: 0
      height: 0
      position: absolute
      right: 0
      bottom: -18px
      border-top: 16px solid #2c3e50
      border-right: 14px solid transparent
    span.i
      background: #fff
      border-radius: 50%
      padding: 0 10px
      color: #555
      cursor: pointer
  span.how
    display: none
    background: #fff
    color: #555
    span.x
      background: #e74c3c
      border-radius: 50%
      padding: 2px 6px
      color: #fff
      font-size: 14px
      cursor: pointer
    
#aboutMe
  .container    
    background: #fff url('../images/web.svg')
    padding: 20px
    line-height: 1.5em
    transition: 0.2s ease all
    box-shadow: 4px 4px 0px #2c3e50
    user-select: text
    cursor: url(../images/text-cursor.png), auto
  
#portfolio
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  div
    display: block
    height: 180px
    background: #eee
    user-select: none
    order: 0
  .prev, .next
    order: 1
    height: auto
    width: 30%
    padding: 0 0.75em
    margin-top: 16px
    text-transform: uppercase
    font-family: 'Bangers', serif
    font-size: 1.5em
    line-height: 1.5em
    display: inline-flex
    flex-direction: column
    justify-content: center
    background: #f39c12
    background: #f39c12 url(../images/bg-bottom.png) center /cover
    background: url(../images/bg-bottom.png) center /cover, linear-gradient(to bottom, #e67e22, #d35400)
    color: #ddd
    border-right: 2px solid #a84300
    border-bottom: 2px solid #a84300
    text-shadow: 1px 1px 1px #111
    box-shadow: 4px 4px 0px #ddd
    cursor: pointer
    &:hover
      color: #fff
      box-shadow: 4px 4px 0px #fff
  .active
    margin: 18px -2px -2px 2px
    box-shadow: 2px 2px 0px #ddd !important
  .works
    flex-grow: 1
    width: 100%
    box-shadow: 4px 4px 0px #e67e22
    border-right: 2px solid #6B0000
    border-bottom: 2px solid #6B0000
    overflow: hidden
    &:hover
      box-shadow: 4px 4px 0px #d35400
    .work
      position: relative
      justify-content: center
      display: flex
      cursor: pointer
      overflow: hidden
      &:hover
        img
          //-webkit-filter: grayscale(100%)
          //transform: scale(1.25)
      img
        position: absolute
        top: 0px
        left: 0
        width: 100%
        max-width: 100%
        z-index: 0
        opacity: 0.5
        transition: 0.2s ease all
      .project
        position: relative
        z-index: 1
        align-self: center
        background: rgba(107, 0, 0, 0.75)
        color: #fff
        text-shadow: 1px 1px 1px #555
        font-size: 1.25em
        padding: 0.5em 1em
        border-right: 1px solid rgba(255, 255, 255, 0.75)
        border-bottom: 1px solid rgba(255, 255, 255, 0.75)
        box-shadow: 3px 3px 0px rgba(44, 62, 80, 0.75)
        box-sizing: border-box
        transition: 0.2s ease all
      .category
        position: absolute
        font-size: 0.5em
        top: -22px
        right: -12px
        background: rgba(243, 156, 18, 0.8)
        padding: 4px 12px
        text-shadow: none
        color: #fff
        border-bottom: 2px solid #d35400
        &:after
          content: ''
          width: 0
          height: 0
          position: absolute
          right: 0
          bottom: -14px
          border-top: 12px solid #d35400
          border-right: 11px solid transparent
          

#skills
  display: flex
  flex-flow: column wrap
  .skill-bg
    margin-bottom: 1em
    box-shadow: 4px 4px 0px #2c3e50
    position: relative
    overflow: hidden
    &:last-child
      display: none
    .overlay
      display: flex
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      .val
        flex: 1
        display: flex
        text-align: center
        justify-content: center
        flex-direction: column
        z-index: 49
        background: #bdc3c7
        color: #aaa
        border-right: 1px solid #555
        user-select: none
    .skill
      position: relative
      padding: 8px
      width: 10%
      color: #fff
      opacity: 1
      z-index: 99
      box-sizing: border-box
      transition: 2s ease all
    
#contactMe
  display: flex
  flex-flow: column wrap
  .social
    padding: 0.75em 0.5em
    margin-bottom: 16px
    color: #ddd
    text-align: center
    box-shadow: 4px 4px 0px #bdc3c7
    border-right: 3px solid
    border-bottom: 3px solid
    text-decoration: none
    cursor: pointer
    &:hover
      color: #fff
  .facebook
    background: #3b5998
    border-color: #2f4779
    &:hover
      background: #2f4779
      border-color: #23355b
      box-shadow: 4px 4px 0px #ddd
  .linkedin
    background: #4875B4
    border-color: #395d90
    &:hover
      background: #395d90
      border-color: #2b466c
      box-shadow: 4px 4px 0px #ddd
  .twitter
    background: #2492b7
    border-color: #1c7492
    &:hover
      background: #1c7492
      border-color: #15576d
      box-shadow: 4px 4px 0px #ddd
  .active
    margin: 1px -1px 15px 1px
    box-shadow: 3px 3px 0px #ddd !important
      
footer
  padding: 1em 0 1.5em
  text-align: center
  .link
    display: inline-block
    color: #ccc
    text-align: center
    text-shadow: 1px 1px 0 #111
    transition: 0.2s ease all
    cursor: pointer
    span.hide
      display: none
    &:hover
      color: #fff
  img
    height: 2em
    transform: translateY(12px)
    

.toTop
  position: fixed
  bottom: 16px
  right: 4px
  display: none
  img
    cursor: pointer
    width: 75%


//tablet
@media screen and (min-width: $tablet)
  #container
    background-image: url(../images/bg-top.png), url(../images/bg-bottom.png),linear-gradient(to bottom, #6b0000 0%, #111111 10%, #111111 25%, #6b0000 50%)
    background-size: 300%
    
  header
    h1
      font-size: 5em
      
  section
    margin: 2em auto 1.5em
    h2
      font-size: 2.75em
      
  nav.menu
    flex-wrap: nowrap
  
  #portfolio
    div
      height: 250px
    .prev, .next
      width: 43%
    
  #skills
    flex-flow: row wrap
    justify-content: space-between
    .skill-bg
      width: 48%
      margin-bottom: 1.5em
      .skill
        padding: 12px
        
  #contactMe
    flex-flow: row wrap
    justify-content: space-between
    .social
      padding: 1em 0.5em
      width: 28%
      
  footer
    padding: 1em 0 1.5em
    .link
      span.hide
        display: inline-block
      
  .toTop
    right: 24px
    img
      width: auto
      
      

//desktop
@media screen and (min-width: $desktop)
  #container
    background-image: url(../images/bg-top.png), url(../images/bg-bottom.png),linear-gradient(to bottom, #6b0000 0%, #111111 25%, #111111 50%, #6b0000 75%)
    background-size: 150%
  header
    h1
      font-size: 6em
      
  section
    margin: 3em auto 1.5em
    h2
      font-size: 3em
      
  nav.menu
    display: flex
    justify-content: center
    margin-top: 1.5em
    margin-bottom: 3em
    div
      margin: 0 10px
      padding: 10px 16px
      flex-grow: initial
      width: auto
      &:hover
        box-shadow: 4px 4px 0px #d35400
        //cursor: url(../images/h.png), auto
    .active
      margin: 1px 9px -1px 11px 
      box-shadow: 3px 3px 0px #d35400 !important
      
  aside.fun
    padding: 30px 20px 24px
  
  #portfolio
    div
      height: 300px
    .prev, .next
      height: 300px
      order: 0
      margin: 0
      word-wrap: break-word
      width: 0.5em
      line-height: 1.25em      
    .active
      margin: 1px -1px -1px 1px
      box-shadow: 3px 3px 0px #ddd !important
    .works
      width: auto
      margin: 0 1em
      .work
        .project
          font-size: 1.5em
        .category
          top: -25px
    
  #skills
    .skill-bg
      width: 32%
      &:last-child
        display: inline
        
  #contactMe
    .social
      width: 30%