@import url(http://fonts.googleapis.com/css?family=Bangers);
@import url(http://fonts.googleapis.com/css?family=Fredoka+One);
@import url(http://fonts.googleapis.com/css?family=Comfortaa);
* {
  margin: 0;
  padding: 0;
}

html {
  cursor: url(../images/cursor.png), auto;
}

h1, h2, h3 {
  font-family: "Bangers", serif;
}
h1 span:hover, h2 span:hover, h3 span:hover {
  cursor: url(../images/circle.png), auto;
}

body {
  font-family: "Comfortaa", "Fredoka One", sans-serif;
}
body p {
  margin: 0 0 0.75em 0;
}

#container {
  background-image: url(../images/bg-top.png), url(../images/bg-bottom.png), -webkit-gradient(linear, left top, left bottom, from(#6b0000), color-stop(25%, #111111), color-stop(50%, #111111), to(#6b0000));
  background-image: url(../images/bg-top.png), url(../images/bg-bottom.png), -webkit-linear-gradient(top, #6b0000 0%, #111111 25%, #111111 50%, #6b0000 100%);
  background-image: url(../images/bg-top.png), url(../images/bg-bottom.png), linear-gradient(to bottom, #6b0000 0%, #111111 25%, #111111 50%, #6b0000 100%);
  -webkit-background-size: 150%;
  background-size: 150%;
  background-position: center top, center bottom;
  background-repeat: no-repeat;
}

.wrap {
  width: 1020px;
  margin: auto;
}

header h1 {
  font-size: 6em;
  color: #f39c12;
  padding-top: 0.75em;
  text-shadow: 5px 5px 3px #111111;
  text-align: center;
}

section h2 {
  color: #d35400;
  font-size: 3em;
  text-align: center;
  text-shadow: 3px 3px 3px #111111;
  margin: 1.5em auto 0.5em;
  width: 100%;
}
section h2:before {
  content: "- ";
}
section h2:after {
  content: " -";
}

nav.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 1.5em;
  margin-bottom: 3em;
}
nav.menu div {
  display: inline-block;
  background: white;
  margin: 0 10px;
  padding: 10px 16px;
  -webkit-box-shadow: 3px 3px 0px 1px #e67e22;
  box-shadow: 3px 3px 0px 1px #e67e22;
  cursor: pointer;
}
nav.menu div:hover {
  -webkit-box-shadow: 3px 3px 0px 1px #d35400;
  box-shadow: 3px 3px 0px 1px #d35400;
}

aside.fun {
  background: #9b59b6;
  color: white;
  padding: 30px 20px 16px;
  margin-top: 3.5em;
  margin-bottom: 3em;
  position: relative;
  line-height: 1.5em;
}
aside.fun p.info-block {
  display: none;
}
aside.fun span.tod, aside.fun span.how {
  background: #e74c3c;
  color: white;
  padding: 10px 10px;
  line-height: 1em;
  position: absolute;
  top: -16px;
  right: -8px;
  font-size: 16px;
  cursor: pointer;
}
aside.fun span.tod span.i, aside.fun span.how span.i {
  background: white;
  border-radius: 50%;
  padding: 0 10px;
  color: #555555;
}
aside.fun span.how {
  display: none;
  background: white;
  color: #555555;
}
aside.fun span.how span.x {
  background: #e74c3c;
  border-radius: 50%;
  padding: 2px 6px;
  color: white;
  font-size: 14px;
}

#aboutMe .container {
  background: white;
  padding: 12px 20px;
  margin-bottom: 1.5em;
  position: relative;
  line-height: 1.5em;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
  -webkit-box-shadow: 8px 8px 0px #2c3e50;
  box-shadow: 8px 8px 0px #2c3e50;
}

#portfolio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
#portfolio div {
  display: block;
  height: 250px;
  width: 32%;
  margin-bottom: 1.5em;
  position: relative;
  background: #eeeeee;
}

#skills {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 1.5em;
}
#skills .skill-bg {
  width: 32%;
  margin-bottom: 1.5em;
  -webkit-box-shadow: -4px 4px 0 0 #2c3e50;
  box-shadow: -4px 4px 0 0 #2c3e50;
  position: relative;
  overflow: hidden;
}
#skills .skill-bg .overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#skills .skill-bg .overlay .val {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 49;
  background: #bdc3c7;
  color: #aaaaaa;
  border-right: 1px solid #555555;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#skills .skill-bg .skill {
  position: relative;
  padding: 10px;
  width: 10%;
  color: white;
  opacity: 1;
  z-index: 99;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 2s ease all;
  transition: 2s ease all;
}

#contactMe {
  margin-top: 0.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
#contactMe a.social {
  padding: 1em 0.5em;
  width: 30%;
  color: white;
  text-align: center;
  -webkit-box-shadow: 3px 3px 0px 1px #bdc3c7;
  box-shadow: 3px 3px 0px 1px #bdc3c7;
  border-right: 3px solid;
  border-bottom: 3px solid;
  text-decoration: none;
}
#contactMe a.facebook {
  background: #3b5998;
  border-color: #2f4779;
}
#contactMe a.facebook:hover {
  background: #2f4779;
  border-color: #23355b;
  -webkit-box-shadow: 3px 3px 0px 1px #dddddd;
  box-shadow: 3px 3px 0px 1px #dddddd;
}
#contactMe a.linkedin {
  background: #4875b4;
  border-color: #395d90;
}
#contactMe a.linkedin:hover {
  background: #395d90;
  border-color: #2b466c;
  -webkit-box-shadow: 3px 3px 0px 1px #dddddd;
  box-shadow: 3px 3px 0px 1px #dddddd;
}
#contactMe a.twitter {
  background: #33ccff;
  border-color: #28a3cc;
}
#contactMe a.twitter:hover {
  background: #28a3cc;
  border-color: #1e7a99;
  -webkit-box-shadow: 3px 3px 0px 1px #dddddd;
  box-shadow: 3px 3px 0px 1px #dddddd;
}
#contactMe form {
  font-size: 1.2em;
  font-family: "Comfortaa", sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: none;
}
#contactMe form .col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
#contactMe form label {
  z-index: 99;
  position: relative;
  padding: 0 20px;
}
#contactMe form label.message {
  padding: 0 10px;
}
#contactMe form .input-bg {
  display: block;
  width: 75%;
  padding: 10px 25px;
  margin: 0.2em 0 1.15em 0;
  background: white;
  -webkit-transform: skewX(-30deg);
  -ms-transform: skewX(-30deg);
  transform: skewX(-30deg);
  -webkit-box-shadow: -8px -24px 0px 8px #f1c40f;
  box-shadow: -8px -24px 0px 8px #f1c40f;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
#contactMe form input {
  border: none;
  -webkit-transform: skewX(30deg);
  -ms-transform: skewX(30deg);
  transform: skewX(30deg);
  outline: none;
  width: 100%;
  font-family: "Comfortaa", sans-serif;
  font-size: 16px;
}
#contactMe form .textarea-bg {
  display: block;
  padding: 10px;
  margin: 0.15em 0 2em 0;
  background: white;
  -webkit-box-shadow: -8px -24px 0px 8px #f1c40f;
  box-shadow: -8px -24px 0px 8px #f1c40f;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
#contactMe form textarea {
  border: none;
  outline: none;
  height: 112px;
  width: 100%;
  font-family: "Comfortaa", sans-serif;
}
#contactMe form input.submit {
  -webkit-transform: skewX(0deg);
  -ms-transform: skewX(0deg);
  transform: skewX(0deg);
  background: #e67e22;
  color: #ecf0f1;
  text-shadow: 1px 1px 1px #111111;
  padding: 16px 0;
  font-size: 20px;
  -webkit-box-shadow: -16px -16px 0px 0px #f1c40f;
  box-shadow: -16px -16px 0px 0px #f1c40f;
}
#contactMe form input.submit:hover {
  background: #d35400;
}

footer {
  padding: 3em 0 1.5em;
  text-align: center;
}
footer a {
  color: #999999;
  text-align: center;
  text-decoration: none;
}
