@import url(http://fonts.googleapis.com/css?family=Bangers);
@import url(http://fonts.googleapis.com/css?family=Fredoka+One);
@import url(http://fonts.googleapis.com/css?family=Comfortaa);
html {
  cursor: url(../images/cursor.png), auto; }

h1, h2, h3 {
  font-family: 'Bangers', serif; }
  h1 span:hover, h2 span:hover, h3 span:hover {
    cursor: url(../images/circle.png), auto; }

body {
  font-family: 'Comfortaa','Fredoka One', cursive; }
  body p {
    margin: 0 0 0.75em 0; }

.container {
  background: -webkit-gradient(linear, left top, left bottom, from(#6b0000), to(#111111)) no-repeat;
  background: -webkit-linear-gradient(top, #6b0000 0%, #111111 100%) no-repeat;
  background: linear-gradient(to bottom, #6b0000 0%, #111111 100%) no-repeat;
  background-image: url(../images/bg-top.png), -webkit-gradient(linear, left top, left bottom, from(#6b0000), to(#111111));
  background-image: url(../images/bg-top.png), -webkit-linear-gradient(top, #6b0000 0%, #111111 100%);
  background-image: url(../images/bg-top.png), linear-gradient(to bottom, #6b0000 0%, #111111 100%);
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 100vh; }

.wrap {
  width: 1020px;
  margin: auto; }

header h1 {
  font-size: 6em;
  color: #f39c12;
  margin: 0.5em 0 0;
  text-shadow: 5px 5px 3px #111;
  text-align: center; }

ul.menu {
  padding: 0;
  text-align: center;
  list-style-type: none;
  margin-bottom: 1.5em; }
  ul.menu li {
    display: inline-block;
    background: #fff;
    margin: 0 10px;
    padding: 10px 16px;
    -webkit-box-shadow: 3px 3px 0px 1px #e67e22;
    box-shadow: 3px 3px 0px 1px #e67e22;
    cursor: pointer; }
    ul.menu li:hover {
      -webkit-box-shadow: 3px 3px 0px 1px #d35400;
      box-shadow: 3px 3px 0px 1px #d35400; }

aside.fun {
  background: #9b59b6;
  color: #fff;
  padding: 16px 20px;
  margin-bottom: 1.5em;
  position: relative;
  line-height: 1.5em;
  opacity: 1;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all; }
  aside.fun span.close {
    background: #e74c3c;
    color: #fff;
    padding: 5px 10px;
    line-height: 1em;
    position: absolute;
    top: -8px;
    right: -8px;
    font-size: 16px;
    cursor: pointer; }
    aside.fun span.close:hover {
      background: #c0392b; }

#aboutMe {
  background: #fff;
  padding: 12px 20px;
  margin-bottom: 2.5em;
  position: relative;
  line-height: 1.5em;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
  -webkit-box-shadow: 8px 8px 0px #2c3e50;
  box-shadow: 8px 8px 0px #2c3e50; }

#contactMe form {
  font-size: 1.2em;
  font-family: 'Comfortaa', cursive; }
  #contactMe form label {
    z-index: 99;
    position: relative;
    padding: 0 20px; }
  #contactMe form label.message {
    padding: 0 10px; }
  #contactMe form .input-bg {
    display: block;
    width: 75%;
    padding: 10px 25px;
    margin: 0.1em 0 1.15em 0;
    background: #fff;
    -webkit-transform: skewX(-30deg);
    -ms-transform: skewX(-30deg);
    transform: skewX(-30deg);
    -webkit-box-shadow: -8px -20px 0px 8px #f1c40f;
    box-shadow: -8px -20px 0px 8px #f1c40f; }
  #contactMe form input {
    border: none;
    -webkit-transform: skewX(30deg);
    -ms-transform: skewX(30deg);
    transform: skewX(30deg);
    outline: none;
    width: 100%; }
  #contactMe form .textarea-bg {
    display: block;
    padding: 10px;
    margin: 0.15em 0 2em 0;
    background: #fff;
    -webkit-box-shadow: -8px -20px 0px 8px #f1c40f;
    box-shadow: -8px -20px 0px 8px #f1c40f; }
  #contactMe form textarea {
    border: none;
    outline: none;
    height: 112px;
    width: 100%; }
  #contactMe form input.submit {
    -webkit-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    transform: skewX(0deg);
    background: #e67e22;
    color: #ecf0f1;
    text-shadow: 1px 1px 1px #111;
    padding: 16px 0;
    -webkit-box-shadow: -16px -16px 0px 0px #f1c40f;
    box-shadow: -16px -16px 0px 0px #f1c40f; }
    #contactMe form input.submit:hover {
      background: #d35400; }

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
